// Place all the styles related to the books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

.body-box{
    margin-top:33px;
    margin-left:33px;
    text-align: left;
}

.books{
    font-size:25px;
    font-weight:bold;
    margin-bottom:15px;
}

thead{
    font-weight:bold;
}

.body{
    margin-right:10px;
}

.create-box{
    margin-top:33px;
}

.new-book{
    font-size:20px;
    font-weight:bold;
}


