// Place all the styles related to the books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// indexページのcss
.body-box{
    margin-top:33px;
    margin-left:10px;
    text-align: left;
}

.books{
    font-size:25px;
    font-weight:bold;
    margin-bottom:5px;
}

thead{
    font-weight:bold;
}

.body{
    margin-right:10px;
    line-height: 1px;
}

.create-box{
    margin-top:33px;
}

.new-book{
    font-size:20px;
    font-weight:bold;
}

.error-title, .error-body{
    border:solid;
    border-width: thin;
    width: 300px;
}

// showページのcss

.show-box{
    margin-top: 20px;
    margin-left: 50px;
    line-height:50px;
}

.flash-show{
    color: green;
}

.url-box{
    margin-top:25px;
    margin-left:25px;
}

.show-edit{
    border-right:solid;
    border-width:thin;
    padding-right:5px;
}

// editページのcss
.edit-box{
    display:block;
    margin-top: 33px;
    margin-left: 33px;
}

.edit-head{
    margin-bottom: 15px;
    
}

.edit-body{
    margin-bottom:5px;
}

.edit-show{
    border-right:solid;
    border-width:thin;
    padding-right:5px;
}

