// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

h1{
    margin-left:20px;
}

.top-page{
    margin-left:50px;
    line-height:50px;
}

.body-box{
    margin-top:33px;
    margin-left: 33px;
}